@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap');

.section {


    
}

ul li a {
    color: black;
    text-decoration: none;
}
ul li a:hover {
    color: rgb(24, 76, 145);

}